[submodule "ag.vim"]
  path = .config/nvim/bundle/ag.vim
  url = git@github.com:rking/ag.vim.git

[submodule "ctrlp.vim"]
  path = .config/nvim/bundle/ctrlp.vim
  url = git@github.com:kien/ctrlp.vim.git

[submodule "delimitMate"]
  path = .config/nvim/bundle/delimitMate
  url = git@github.com:Raimondi/delimitMate.git

[submodule "deoplete-go"]
  path = .config/nvim/bundle/deoplete-go
  url = git@github.com:zchee/deoplete-go.git

[submodule "deoplete-ternjs"]
  path = .config/nvim/bundle/deoplete-ternjs
  url = git@github.com:carlitux/deoplete-ternjs.git

[submodule "deoplete.nvim"]
  path = .config/nvim/bundle/deoplete.nvim
  url = git@github.com:Shougo/deoplete.nvim.git

[submodule "nerdtree"]
  path = .config/nvim/bundle/nerdtree
  url = git@github.com:scrooloose/nerdtree.git

[submodule "syntastic"]
  path = .config/nvim/bundle/syntastic
  url = git@github.com:scrooloose/syntastic.git

[submodule "vim-airline"]
  path = .config/nvim/bundle/vim-airline
  url = git@github.com:vim-airline/vim-airline

[submodule "vim-airline-themes"]
  path = .config/nvim/bundle/vim-airline-themes
  url = git@github.com:vim-airline/vim-airline-themes

[submodule "vim-colors-github"]
  path = .config/nvim/bundle/vim-colors-github
  url = git@github.com:vim-airline/vim-colors-github

[submodule "vim-commentary"]
  path = .config/nvim/bundle/vim-commentary
  url = git@github.com:tpope/vim-commentary.git

[submodule "vim-endwise"]
  path = .config/nvim/bundle/vim-endwise
  url = git@github.com:tpope/vim-endwise.git

[submodule "vim-fugitive"]
  path = .config/nvim/bundle/vim-fugitive
  url = git@github.com:tpope/vim-fugitive.git

[submodule "vim-go"]
  path = .config/nvim/bundle/vim-go
  url = git@github.com:fatih/vim-go.git

[submodule "vim-javascript"]
  path = .config/nvim/bundle/vim-javascript
  url = git@github.com:pangloss/vim-javascript.git

[submodule "vim-node"]
  path = .config/nvim/bundle/vim-node
  url = git@github.com:moll/vim-node.git

[submodule "vim-pug"]
  path = .config/nvim/bundle/vim-pug
  url = git@github.com:digitaltoad/vim-pug.git

[submodule "vim-surround"]
  path = .config/nvim/bundle/vim-surround
  url = git@github.com:tpope/vim-surround.git

[submodule "vim-test"]
  path = .config/nvim/bundle/vim-test
  url = git@github.com:janko-m/vim-test.git
